.contato{
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  /* border: 1px solid #fff; */
  margin: 100px auto 50px 0px;
  width: 100%;
}

.contato h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

.descricao{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #fff;
  width: 45%;
  margin: 15px auto;
  text-align: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* margin: 25px auto; */
  width: 100%;
  /* border: 1px solid; */
  /* justify-content: center; */
}

input{
  width: 49%;
  height: 50px;
  font-size: 1.3rem;
  border: none;
  /* margin: 0 auto; */
}
textarea{
  width: 100%;
  font-size: 1.3rem;
  height: 120px;
  resize: none;
  border: none;
}

.btn{
  width: 100%;
  font-size: 1.125rem;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
  background: #fb1;
}