.home{
  display: grid;
  /* border: 1px solid ; */
  /* height: 800px; */
  
}
.perfil{
  display: grid;
  justify-content: center;
  /* border: 1px solid ; */
  margin-top: 70px;
  width: 100%;
  /* grid-row: 2; */
  /* height: 100%; */
  justify-self: center;
}

.foto{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.foto img{
  max-width: 80%;
}

.bemvindo {
  justify-self: center;
  font-size: 1.6rem;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  /* border: 1px solid; */
}

.name{
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
}

.description{
  justify-self: center;
  align-self: end;
  font-size: 1.125rem;
  text-align: center;
  color: #B4B4B4;
}