.habilidades{
  /* border: 1px solid #000; */
  max-width: 100%;
  margin: 150px auto 30px 0px;
}

.habilidades h1{
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

.nivel{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  /* width: 100%; */
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.nivel li{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 50%;
  margin: 50px auto;
  color: #fff;
}

.stack{
  width: 50%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.stack div{
  height: 20px;
  border-radius: 10px;
  background: #fff;
}

@media (max-width: 40rem) {
  .habilidades{
    margin-top: 80px;
    /* border: 1px solid; */
  }

  .habilidades h1{
    font-size: 2rem;
  }

  .nivel{
    display: grid;
    font-size: 1.3rem;
    margin: 0px;
    /* border: 1px solid; */
  }

  .nivel li{
    width: 100%;
    justify-self: start;
    gap: 10px;
    /* border: 1px solid; */
  }

  .stack{
    width: 200px;
  }
}