
.projetos{
  display: grid;
  width: 100%;
  /* margin: 115px auto auto 50px; */
  /* border: 1px solid #fff; */
}

.projetos h1{
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

.container{
  position: relative;
  display: flex;
  padding: 25px auto;
  max-width: 100%;
  margin: 0 auto;
  /* border: 1px solid #000; */
  padding: auto;
}

.gallery_wraper{
  overflow-x: auto;
  max-width: 77%;
  margin: 15px auto;
}

.gallery{
  display: flex;
  flex-flow: nowrap;
  gap: 30px;
}

.item{
  /* max-width: 40%; */
  width: 350px;
  height: 280px;
  flex-shrink: 0;
  cursor: pointer;
  transition: .2s ease-in-out;
}
/* .item:hover{
  border: 5px solid #fb1;
  transition: .2s;
  padding: auto;
} */

.item:hover{
  box-shadow: 4px -1px 10px #fff;
}

.left ,
.right{
  max-width: 100px;
  height: 50px;
  position: absolute;
  padding: 15px 15px;
  top: 150px;
  left: auto;
  
  /* right: auto; */
  border: none;
  bottom: 320px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background: none;
}

.right{
  left: auto;
  right: 20px;
}

.left:hover ,
.right:hover{
  box-shadow: 4px -1px 10px #fff;
}

.gallery_wraper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery_wraper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (max-width: 40rem){
  .left ,
  .right{
    display: none;
  }

  .item{
    width: 180px;
    height: 200px;
  }
}