
body{
  padding: 0px;
  margin: 0px auto;
  /* max-width: 92vw; */
  overflow-x: hidden;  

  font-family: 'Roboto', sans-serif;
  background: #000;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
}
.app{
  /* border: 1px solid #fff; */
  max-width: 100vw;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}
p, span{
  color: #fff;
}