body{
  height: 100vh;
  position: relative;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  /* border: 1px solid ; */
  position: fixed;
  z-index: 2;
}

.menuItem{
  display: flex;
  gap: 45px;
  font-size: 1.125rem;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 1px 0px 2px transparent;
  
}
.menuItem a{
  position: relative;
  color: #f5f5f5;
}
.menuItem a::after {
  content: " ";
  display: inline;
  width: 0%;
  height: 4px;
  background-color: #fb1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: .3s;
}
.menuItem a:hover::after{
  width: 105%;
}
.menuItem a:focus::after{
  width: 105% !important;
}

.hamburgue{
  display: none;
  justify-content: center;
  align-content: center;
  gap: 8px;
  width: 50px;
  height: 50px;
  /* border: 1px solid; */
}

.hamburgue span{
  width: 40px;
  height: 3px;
  /* border: 1px solid; */
  border-radius: 10px;
  background: #fb1;
  cursor: pointer;
}
.menuMobile{
  display: none;
}

@media (max-width: 40rem){
  .menu{
    display: none;
  }
  .hamburgue{
    display: grid;
  }
  .fechar{
    font-size: 2rem;
    margin: 15px;
    color: #f5f5f5;
  }
  .mobile{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    box-shadow: 4px -1px 10px #fff;
    /* border: 1px solid; */
    /* background: #f5f5f5; */
    position: absolute;
    width: 100%;
    height: 40%;
  }
  .menuItemMobile{
    display: grid;
    justify-content: start;
    font-size: .850rem;
    margin: 0px auto ;
    /* border: 1px solid; */
    gap: 30px;
  }
  .menuItemMobile a{
    transition: .2s;
    /* color: #000; */
  }

}