.footer{
  /* border: 1px solid; */
  /* width: 95vw; */
  height: 50px;
  margin: 20px auto;
  background: #151515;
  display: flex;
  justify-content: center;
}

.footer p {
  text-align: center;
  font-size: .858rem;
  color: #f5f5f5;
}